venv
data
.env
./db.sqlite3
./workinmusic-30b37-firebase-adminsdk-h7ihz-4300daf253.json
accountapp/migrations/
licenceapp/migrations/
quizzapp/migrations/
musicapp/migrations/
paiementapp/migrations
./require_locale.txt